.no-js-header { position: fixed;height: 100px;top:-21px;font-family: 'Oxygen Mono', monospace; }
.sidebar {
	position: fixed;
	height: 150px;
	left: 0;
	right: 25px;
	top: -21px;
	width: 250px;
	height: 100%;
	box-shadow: 1px 1px 1px #10aded;
	border-style: groove;
	border-width: 8px;
    	background-color: #23272a;
	border-color: #7298da;
	font-family: 'Oxygen Mono', monospace;
}
.sidebar-header {
	background-color: #2C2F33;
	height: 45px;
	text-align: center;
	color: white;
}
body {
	background-color: #23272A;
}
.sidebar-body {
	background-color: #23272A;
	text-align: center;
	top: 500px;
	color: white;
}
.content {
	height: 100%;
    width: 90%;
    float: right;
	background-color: #23272A;
	text-align: center;
	margin: 0 auto;
	font-family: 'Oxygen Mono', monospace;
	color: white;
}
small {
	font-size: 9px;
}
.sidebar-icons {
	text-align: center;
	margin: 0 auto;
}
.svg { filter: invert(100%); }
.notyf {
	font-family: 'Oxygen Mono', monospace;
    color: white;
}
a:link, a:visited {
	color: #10aded;
}
